<h1>SHOWING ONE CAT</h1>

<p>Here is one cat</p>
<table>
  <tr>
    <th>Cat Name</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Birth Date</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.birth_date %></td>
  </tr>
</table>